footer {
  height: 250px;
  background-color: white;
  border-top: 10px solid $color-variacion;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 768px) {
    height: 250px;
  }
  p {
    margin:0;
    text-align: center;
    color: black;
    padding-top: 10px;
    text-decoration: none;
    @media only screen and (max-width: 426px) {
      padding: 5px 10px; 
    }
    @media only screen and (max-width: 768px) {
      padding: 10px 15px; 
    }
  }
}
.content--nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 80px;
  
}
.content--nav .list1, .list2, .list3, .list4 {
  list-style-type: none;
  text-align: center;
  padding: 0 10px;
  cursor: pointer;
  
}
.content--nav a:focus { 
  outline: none;
}
.list1:hover, .list2:hover, .list3:hover, .list4:hover {
  transform: scale(1.1);  
}
.list1:focus-within { 
  outline: 3px solid $color-primario;
  transform: scale(1.1);
}
.list2:focus-within { 
  outline: 3px solid $color-primario;
  transform: scale(1.1);
}
.list3:focus-within { 
  outline: 3px solid $color-primario;
  transform: scale(1.1);
}
.list4:focus-within { 
  outline: 3px solid $color-primario;
  transform: scale(1.1);
}

.content--nav ul img {
  @media only screen and (max-width: 768px) {
    height: 30px;
  }
}
.content--nav ul p {
  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
}
.like {
  padding: 5px 0 20px 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-image: url('../images/corazon.png');
  background-size: 1450px 50px;
  @media only screen and (max-width: 768px) {
    padding: 0 0 30px 0;
  }
  @media only screen and (max-width: 426px) {
    padding: 0 0 50px 0; 
  }
}
.like.is-liked {
  animation-name: like;
  /*animation-duration: 800ms;*/
  animation-duration: .8s;
  /*2900 / 29 = 100px*/
  animation-timing-function: steps(28);
  /*background-position: -2800px 0;*/
  /*background-position: right;*/
  animation-fill-mode: forwards;
}
@keyframes like {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: right;
    /*background-position: -2800px 0;*/
  }
}