//Variables
$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$color-primario: #2fad4a;
$color-secundario: #838383;
$color-variacion: #3f579a;
* {
  margin: 0;
  padding: 0;
}

@mixin blogs {
  color: white;
  border-radius: 20px;
  background-color: $color-variacion;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.50);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px;
  h3 {
    font-family: $Fuente2;
  }
}
@mixin buttons {
  background-color: $color-primario;
  border-radius: 20px;
  background-size: 100px;
  border: none;
  height: 30px;
  width: 140px;
  text-decoration: none;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.50);
}
@mixin container_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: $color-variacion;
  width: 700px;
  position: absolute;
  z-index: 10;
  border-radius: 20px;
  padding: 30px;
}
      
body {
	background-color: #F9FAFC;
  color: $color-primario;
  font-family: $Fuente1;
}
.button__blogs {
  @include buttons;
}
.button__blogs:hover {
  text-decoration: underline;
}
