footer
  p Creado con HTML, Css, Preprocesadores, Responsive Design y Accesibilidad Web
  nav.content--nav: ul
      li.list1
        a.link1(href="https://www.instagram.com/leon_contreras_/?hl=es-la" target="_blank")
          img.image1(src="./images/icons8-instagram-50.png", alt="Icono")
          p Instagram
      li.list2
        a(href="https://github.com/LeonLSV" target="_blank1")
          img.image2(src="./images/icons8-github-50.png", alt="Icono")
          p GitHub
      li.list3
        a(href="https://www.facebook.com/LeonSonidoVirtual/" target="_blank2")
          img.image3(src="./images/icons8-facebook-rodeado-de-círculo-50.png", alt="Icono")
          p Facebook
      li.list4
        a(href="https://twitter.com/virtual_sonido" target="_blank3")
          img.image4(src="./images/icons8-ios-filled-50.png", alt="Icono")
          p Twitter