script.
  const $hideButton = document.getElementById('overlay');
  const $modal = document.getElementById('modal'); 
  const $overlay = document.getElementById('overlay');
  const $cancel_modal = document.getElementById('cancel-modal'); 
  const $show_modal = document.getElementById('blog1');
  const $like = document.getElementById('like');

  $like.addEventListener('click', (event)=>{$like.classList.toggle('is-liked');});

  $show_modal.addEventListener("click", (event) => {$modal.style.animation = "modalIn 1s forwards"; $overlay.classList.add("active"); $modal.classList.add("flex");});

  $hideButton.addEventListener('click', (event) => {$modal.style.animation = 'modalOut 1s forwards'; $overlay.classList.remove('active');});  

  $hideButton.addEventListener('click', (event) => {$modal.style.animation = 'modalOut 1s forwards'; $overlay.classList.remove('active');});

